.catalogSection {
  display: flex;
  margin: 0px 165px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 20px;
  width: 200px;
  background-color: #f4f7fb;
  margin-top: 10px;
  border-radius: 5px;
}

.catalogSection1 {
  display: flex;
  flex-direction: column;
}

.catalogSection1 button {
  background-color: #f4f7fb;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
}

.CatalogIcons {
  width: 16px;
  height: 16px;
  margin-right: 15px;
}

.CatalogButtons {
  height: 50px;
  width: 100%;
}
