.catalogSection {
  display: flex;
  margin: 0px 165px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 500px;
  margin-top: 10px;
}

h2 {
  color: black;
}

.catalogSection1 {
  display: flex;
  flex-direction: column;
  background-color: #f4f7fb;
  padding: 20px;
  border-radius: 5px;
}

.catalogSection1 button {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.1s linear;
  padding-top: 5px;
  padding-bottom: 5px;
}

.catalogSection1 button:hover {
  background-color: #e7e7ec;
}

.catalogSection1 button:active {
  background-color: #d1d1d5;
}

.catalogSection1 img {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding-left: 5px;
}

.CatalogButtonsSamokat {
  display: flex;
  width: 144px;
}

.CatalogButtonsScooter {
  width: 141px;
}

.CatalogButtonsBicycles {
  width: 167px;
}

.CatalogButtonsVacuumCleaners {
  width: 141px;
}

.CatalogButtonsScales {
  width: 74px;
}
