.BasketEmpty {
    width: 1110px;
    height: 423px;
    background-color: #F4F7FB;
    margin-top: 40px;
    border-radius: 10px;  
}

.BasketEmptyContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-top: 30px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
}

.BasletBtn {
    margin-top: 15px;
}