.BasketPage {
    width: 100vw;
}

.BasketPageContainer {
    margin: 0px 165px;
}

.MyBasketHeading {
    margin-top: 29px;
    font-weight: 600;
}

.BasketEmpty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Navbar {
    margin-top: 20px;
}

.Footer {
    margin-top: 100px;
}