main {
    font-family: 'Jast', sans-serif;

}

p {
    color: #fff;
}

.mainBackround {
    width: 1380px;
    height: 421px;
    border-radius: 10px;
    background-color: #6F73EE;
    align-items: center;
    padding: 31px 30px 0px 30px;
    position: relative;
}

.mainButtonAbove {
    margin-left: 80px;
    margin-top: 39px;
}

.mainButton {
    font-family: 'Jast', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.23px;
    color: #FFFFFF;
    padding: 0px;
    width: 74px;
    height: 27px;
    cursor: default;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.mainDownHeading {
    margin-left: 110px;
    margin-top: 25px;
    font-size: 20px;
}

.mainParagraph {
    margin-top: 7px;
    font-size: 20px;
    font-weight: 400;
}

.mainHeading {
    color: #fff;
    font-weight: 600;
}

.samokatMain {
    width: 538px;
    height: 405px;
}

.mainParagraph {
    margin-top: -100px;
}

.mainHeadingButton {
color: #6F73EE;
padding: 0px;
width: 177px;
height: 53px;
border-radius: 5px;
background-color: #fff;
}

.mainHeadingButton {
margin-top: 40px;
transition: 0.2s linear;
}

.mainHeadingButton:hover {
    background-color: #ffffffc6;
}

.samokatMain {
    width: 538px;
    height: 405px;
}

.samokatPhoto {
    display: flex;
    justify-content: center;
    padding-left: 600px;
    margin-top: -167px;
}

.mainParagraph {
margin-top: -250px;
padding-top: 100px;
}

.mainHeadingButton {
margin-bottom: 100px;
}

.background {
    background: linear-gradient(blue, pink);
    position: relative;
}

.samokatMain {
    position: absolute;
    top: 0; 
    left: 0;
}

.bolockMain {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
