main {
    font-family: 'Jast', sans-serif;

}

.mainBackround {
    width: 0px;
    height: 0px;
    align-items: center;
    padding: 31px 30px 0px 30px;
    padding-top: 10000px;
    position: absolute;
}

.mainBackroundPhoto {
    position: relative;
}

.mainButtonAbove {
    margin-left: 135px;
    margin-top: 39px;
}

.mainButton {
    font-family: 'Jast', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.23px;
    color: #FFFFFF;
    padding: 0px;
    width: 74px;
    height: 27px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.mainDownHeading {
    margin-left: 120px;
    margin-top: 25px;
    font-size: 20px;
}

.mainParagraph {
    display: flex;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 400;
}

.mainHeading {
    color: #fff;
    font-weight: 600;
}
