.card {
  margin-top: 20px;
  background-color: #f0f1f5;
}

.backroundImg {
  background-color: gray;
}

.imgScooter {
  width: 100px;
  height: 100px;
}

.priceCard {
  margin-top: 10px;
}

.price {
  width: 88px;
  height: 29px;
  font-family: "Jost", sans-serif;
}

.btnBuy {
  height: 40px;
  width: 114px;
  border-radius: 5px;
  border: 1.5px;
  cursor: pointer;
  background-color: #6f73ee;
  color: #ffffff;
  transition: 0.2s linear;
  user-select: none;
  margin-bottom: 10px;
}

.divBtnBuy {
  display: flex;
  justify-content: center;
}

.btnBuy:hover {
  background-color: #686ce4;
}

.btnBuy:active {
  background-color: #6165d2;
}
