* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

header {
    color: #FFFFFF;
    font-family: 'Jast', sans-serif;
}

button {
    color: #5D6C7B;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Jast', sans-serif;
    padding-right: 30px;
}

.container {
    display: flex;
    padding-top: 11px;
    padding-left: 116px;
}

.headerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-left: 8.5px;
    cursor: pointer;
}

.headerNumber {
    margin-left: 626px;
    transition: 0.2s linear;
    font-weight: 400;
}

.headerNumber:hover {
    color: #6F73EE;
}

.headerButton {
    transition: 0.2s linear;
}

.headerButton:hover {
    color: #000000;
}