* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

header {
  color: #ffffff;
  font-family: "Jost", sans-serif;
  flex-direction: column;
}

.headerRightButton {
  color: #282739;
  font-weight: 500;
  user-select: none;
}

.topButtons {
  display: flex;
}

.topButtonsContainer {
  display: flex;
  align-items: center;
  margin: 0px 165px;
  margin-top: 11px;
  width: 100%;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

.headerRight {
  display: flex;
  width: 165px;
  justify-content: space-between;
  align-items: center;
}

.headerLeftButton {
  background-color: #ffffff;
  color: #5d6c7b;
  font-weight: 400;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px 4px;
  transition: 0.1s;
  font-size: 14px;
  user-select: none;
}

.headerLeftButton:hover {
  background-color: #e7e7ec;
}

.headerLeftButton:active {
  background-color: #d1d1d5;
}

.headerRightButton {
  font-weight: 500;
}

.headerLeftIcon {
  display: flex;
  width: 60px;
  justify-content: space-between;
}

.hr {
  margin-top: 20px;
  border: 0.5px solid #ecf3ff;
}
